header.header
  .container
    .header__content
      a(href="/").opacity
        img(src="images/logo.png")
      nav
        ul.header__list
          li.header__item
            a(href="/") home
          li.header__item
            a(href="main.html") main
          li.header__item
            a(href="about.html") about
          li.header__item
            a(href="contact.html") contact


