.single
  display: flex
  flex-wrap: wrap
  height: 670px
  position: relative

  +media(875px)
    max-height: 100%

  //+media($mobile_xs)
  //  height: 650px
  //
  //+media($mobile_sm)
  //  max-height: 800px

  &__title
    margin-bottom: 28px
    font-size: 30px

    +media(875px)
      font-size: 24px
      margin-bottom: 15px

  &__text
    margin-bottom: 27px
    line-height: 24px

    +media(875px)
      margin-bottom: 10px

  &__paragraph
    margin-bottom: 30px

    +media(875px)
      margin-bottom: 10px

  &__text,
  &__data
    color: #787878
    font-family: $font_nunito
    font-size: 16px

    +media($mobile_lg)
      font-size: 14px

  &__data
    margin-bottom: 15px

    +media(875px)
      margin-bottom: 5px

  &__subtitle
    color: #000
    font-weight: $font_bold

  &__left
    width: 50%
    background-color: #f8f9f9

    +media(875px)
      width: 100%

    +media($mobile_sm)
      height: 60%

    +media($mobile_xs)
      height: 65%

  &__right
    width: 50%
    background: url("copyboock.png")
    background-repeat: no-repeat
    background-size: contain
    background-position: center

    +media(875px)
      background-position: top center
      background-size: contain
      width: 100%

    +media($mobile_sm)
      height: 40%

    +media($mobile_xs)
      height: 35%

  &__content
    display: flex
    align-items: center
    position: absolute
    left: 0
    top: 0
    right: 0
    max-width: 1170px
    height: 570px
    margin: 0 auto

    +media(875px)
      height: 50%
      padding: 0 10px

    +media($mobile_xs)
      height: 65%

  &__wrapper
    max-width: 435px

    +media(875px)
      max-width: 100%

  &__slider-wrapper
    width: 100%

  &__slide
    display: flex
    cursor: pointer
    height: 570px

    +media(875px)
      flex-wrap: wrap
      height: 100%

  &__control
    position: relative
    width: 1170px
    margin: 0 auto
    height: 100px
    display: flex
    justify-content: space-between
    align-items: center

    +media(875px)
      display: none

  &__prev,
  &__next
    position: inherit
    margin: 0
    top: 0
    background: none
    height: auto
    width: auto
    outline: none
    line-height: 22px
    font-weight: $font_bold
    text-transform: uppercase
    transition: color 0.3s


  &__prev
    left: 0
    width: 125px
    text-align: right
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      background-image: url("arrow-prev.png")
      background-repeat: no-repeat
      background-position: center
      width: 12px
      height: 20px
      transition: color 0.3s

  &__prev,
  &__next
    &:hover
      color: #10c9c3

  &__next
    right: 0
    width: 95px
    &::after
      content: ""
      position: absolute
      top: 0
      right: 0
      outline: none
      background-image: url("arrow-next.png")
      background-repeat: no-repeat
      background-position: center
      width: 12px
      height: 20px

  &__img
    position: absolute
    width: 100%
    display: flex
    justify-content: center


  .swiper-pagination
    display: none


    +media(875px)
      display: flex


  &__pagination
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 50px

  .swiper-pagination-bullet
    width: 6px
    height: 6px
    background-color: #ddd
    opacity: 1

  .swiper-pagination-bullet-active
    width: 10px
    height: 10px
    background-color: #ffffff
