extends /layout/app

block content
  .single
    .swiper-container.single__slider-wrapper
      .swiper-wrapper.single__slider
        .swiper-slide.single__slide-wrapper
          .single__slide
            .single__left
            .single__right
            .single__content
              .single__wrapper
                .single__info
                  h1.single__title Light Breackfast
                  .single__text
                    p.single__paragraph Light his can't a creeping. Be, bring blessed night. Replenish blessed creature good. Saw earth every creepeth lights day, divided abundantly form. In. Said given lights. Sixth the male. Upon their multiply. Kind beast. Him tree upon.
                    | Dominion day herb she'd creeping divide darkness.
                    br
                    | Which. Subdue had.
                  .single__data
                    span.single__subtitle Client:&nbsp;&nbsp;
                    | Emma Morris
                  .single__data
                    span.single__subtitle Date:&nbsp;&nbsp;
                    | 25.06.2017
                  .single__data
                    span.single__subtitle Share:&nbsp;&nbsp;
                    | Faceboock, Twitter, Pinterest

        .swiper-slide.single__slide-wrapper
          .single__slide
            .single__left
            .single__right
            .single__content
              .single__wrapper
                .single__info
                  h1.single__title Light Breackfast
                  .single__text
                    p.single__paragraph Light his can't a creeping. Be, bring blessed night. Replenish blessed creature good. Saw earth every creepeth lights day, divided abundantly form. In. Said given lights. Sixth the male. Upon their multiply. Kind beast. Him tree upon.
                    | Dominion day herb she'd creeping divide darkness.
                    br
                    | Which. Subdue had.
                  .single__data
                    span.single__subtitle Client:&nbsp;&nbsp;
                    | Emma Morris
                  .single__data
                    span.single__subtitle Date:&nbsp;&nbsp;
                    | 25.06.2017
                  .single__data
                    span.single__subtitle Share:&nbsp;&nbsp;
                    | Faceboock, Twitter, Pinterest

        .swiper-slide.single__slide-wrapper
          .single__slide
            .single__left
            .single__right
            .single__content
              .single__wrapper
                .single__info
                  h1.single__title Light Breackfast
                  .single__text
                    p.single__paragraph Light his can't a creeping. Be, bring blessed night. Replenish blessed creature good. Saw earth every creepeth lights day, divided abundantly form. In. Said given lights. Sixth the male. Upon their multiply. Kind beast. Him tree upon.
                    | Dominion day herb she'd creeping divide darkness.
                    br
                    | Which. Subdue had.
                  .single__data
                    span.single__subtitle Client:&nbsp;&nbsp;
                    | Emma Morris
                  .single__data
                    span.single__subtitle Date:&nbsp;&nbsp;
                    | 25.06.2017
                  .single__data
                    span.single__subtitle Share:&nbsp;&nbsp;
                    | Faceboock, Twitter, Pinterest
        |         ...
      .swiper-pagination.single__pagination

    .single__control
      .swiper-button-prev.single__prev
        | previous project
      .single__img
        img(src="images/squares.png")
      .swiper-button-next.single__next
        | next project
