.main
#toTop
  position: fixed
  bottom: 10px
  right: 10px
  z-index: 1
  display: none
  border: 1px solid #10c9c3
  background: #fff
  color: #10c9c3
  width: 100px
  padding: 5px
  font-size: 11px
  text-align: center
  text-transform: uppercase
  cursor: pointer

