extends /layout/app

block content
  .main
    section.main__banner
      include ./banner/banner
    section.main__aboutus
      include ./aboutus/aboutus
    section.main__skills
      include ./skills/skills
    section.main__numbers
      include ./numbers/numbers
    section.main__work
      include ./work/work
    section.main__process
      include ./process/process
    section.main__services
      include ./services/services
    section.main__slider
      include ./slider/slider
    section.main__clients
      include ./clients/clients
    section.main__need-project
      include ./need-project/need-project
