.num
  background-color: #10c9c3

  &__content
    padding: 98px 0
    font-family: $font-main
    color: #ffffff
    text-transform: uppercase
    font-weight: bold
    display: flex
    justify-content: space-between

  &__left,
  &__right
    display: flex

  &__right
    margin-right: 105px

  &__img
    margin: auto
    margin-right: 2px

  &__number
    font-size: 18px
    padding-bottom: 8px

  &__text
    font-size: 12px

  &__item
    margin-left: 111px
    display: flex

    &--indent
      margin-left: 96px

    &:first-child
      margin-left: 0

    &-wrapper
      margin-left: 25px
