extends /layout/app

block content
  sections.num
    .container
      .num__content
        .num__left
          a(href="#").opacity__hover
            .num__item
              .num__img
                img(src="images/portfolio.png")
              .num__item-wrapper
                p.num__number 548
                p.num__text projects completed
          a(href="#").opacity__hover
            .num__item
              .num__img
                img(src="images/clock.png")
              .num__item-wrapper
                p.num__number 1465
                p.num__text WORKING HOURS
        .num__right
          a(href="#").opacity__hover
            .num__item
              .num__img
                img(src="images/star.png")
              .num__item-wrapper
                p.num__number 612
                p.num__text POSITIVE FEEDBACKS
          a(href="#").opacity__hover
            .num__item
              .num__img
                img(src="images/hart.png")
              .num__item-wrapper
                p.num__number 735
                p.num__text HAPPY CLIENTS

