.process

  &__content
    padding-top: 28px

  &__title
    font-family: $font_main
    font-size: 30px
    font-weight: bold
    text-align: center

  &__text
    font-family: $font_nunito
    font-size: 16px
    line-height: 23px
    color: #787878
    text-align: center


  &__video
    position: relative
    padding-top: 48.719%
    max-width: 100%
    background: url('./copyboock.png') no-repeat
    background-size: cover

  &__circle
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 85px
    height: 85px
    background-color: #10c9c3
    border-radius: 50%
    cursor: pointer
    transition: opacity 0.3s

    &:hover,
    &:focus
      opacity: 0.5

  &__wrapper
    padding: 55px 0 100px

