.process

  &__content
    padding-top: 28px

  &__title
    font-size: 30px
    font-family: $font_main
    font-weight: bold
    text-align: center

  &__text
    font-size: 16px
    font-family: $font_nunito
    line-height: 23px
    color: #898989
    text-align: center


  &__video
    max-width: 100%
    padding-top: 48.719%
    background: url('./copyboock.png') no-repeat
    background-size: cover
    position: relative

  &__circul
    border-radius: 50%
    background-color: #10c9c3
    width: 85px
    height: 85px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    transition: opacity 0.3s

    &:hover,
    &:focus
      opacity: 0.5

  &__wrapper
    padding-top: 55px
    padding-bottom: 100px

