extends /layout/app


block content
  sections.process
    .container
      h1.process__title Our Work Process
        .process__content
          p.process__text
            | Was years it seasons was there form he in in them together over that,
            br
            | third sixth gathered female creeping bearing behold years.
          .process__wrapper
            .process__video
              .process__circle
                img(src="images/arrow.png")




