extends /layout/app

block content
  .contact
    .container
      .contact__content
        .contact__wrapper
          .contact__info
            h1.contact__title Contact info:
            p.contact__text To give give beginning divide, cattle. Give moving won't, there the abundantly she'd she'd brought air upon. Light hath subdue. Life days creature upon first heaven gathering dry.
            .contact__data
              span.contact__subtitle Address:&nbsp;&nbsp;
              | 10111 Santa Monica Boulevard, LA
            .contact__data
              span.contact__subtitle Phone:&nbsp;&nbsp;
              | +44 987 065 908
            .contact__data
              span.contact__subtitle Email:&nbsp;&nbsp;
              | info@Example.com
            .contact__data
              span.contact__subtitle Fax:&nbsp;&nbsp;
              | +44 987 065 909
          .contact__form
            form.form
              .form__contact
                .form__part.form__part--inline
                  input(type="text" placeholder="Your Name").form__input
                .form__part.form__part--inline
                  input(type="email" placeholder="Your Email").form__input
              .form__part
                input(type="text" placeholder="Your Title").form__input
              .form__part
                textarea(placeholder="Your Comment").form__textarea
              button.form__button send message
        .contact__map
              iframe(width="100%" height="100%" src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.1728966467426!2d-118.33964728478394!3d34.09071098059543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bebb074ab833%3A0x3003ecc0a07f08fe!2zU2FudGEgTW9uaWNhIEJsdmQsIENhbGlmb3JuaWEsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1543311251907', frameborder='0', style='border:0', allowfullscreen='')



