extends /layout/app

block content
  .home
    .container
      .home__titles
        h1.home__title UI/UX & Graphic Designer
        h4.home__subtitle I am a Graphic & Web Designer based in New York, specializing
          br
          |in User Interface Design and Development.
  .gellary
    .gellary__content
      a(href="images/1.png").gellary__product
        img(src="images/1.png").gellary__img
      a(href="images/2.png").gellary__product
        img(src="images/2.png").gellary__img
      a(href="images/3.png").gellary__product
        img(src="images/3.png").gellary__img
      a(href="images/4.png").gellary__product
        img(src="images/4.png").gellary__img
      a(href="images/5.png").gellary__product
        img(src="images/5.png").gellary__img
      a(href="images/6.png").gellary__product
        img(src="images/6.png").gellary__img
      a(href="images/7.png").gellary__product
        img(src="images/7.png").gellary__img
      a(href="images/8.png").gellary__product
        img(src="images/8.png").gellary__img
      a(href="images/9.png").gellary__product
       img(src="images/9.png").gellary__img
      a(href="images/10.png").gellary__product
        img(src="images/10.png").gellary__img
      a(href="images/11.png").gellary__product
        img(src="images/11.png").gellary__img
      a(href="images/12.png").gellary__product
        img(src="images/12.png").gellary__img

