extends /layout/app


block content
  sections.project
    .container
      h1.project__title Need a Project?
        .project__content
          .project__text
            p.text
              | Let us know what you're looking for in an agency. We'll take a look and see
              br
              | if this could be the start of something beautiful.

          .project__form-wrapper
            form.project__form
              .project__contact
                input(type="text" placeholder="Your Name").project__input
                input(type="email" placeholder="Your Email").project__input
              input(type="text" placeholder="Your Title").project__input.project__input--size
              textarea(placeholder="Your Comment").project__textarea
              input(type="submit" value="send message").project__button




