extends /layout/app


block content
  .project
    .container
      h1.project__title Need a Project?
        .project__content
          .project__text
            p.text
              | Let us know what you're looking for in an agency. We'll take a look and see
              br
              | if this could be the start of something beautiful.

          form.project__form
            input(type="text").project__input
            input(type="text").project__input
            input(type="text").project__input
            textarea.project__textarea


