extends /layout/app


block content
  section.project
    .container
        .project__content
          h1.project__title Need a Project?
          .project__text
            p.text
              | Let us know what you're looking for in an agency. We'll take a look and see
              br
              | if this could be the start of something beautiful.
          form.project__form
            .project__contact
              .project__part.project__part--inline
                input(type="text" placeholder="Your Name").project__input
              .project__part.project__part--inline
                input(type="email" placeholder="Your Email").project__input
            .project__part
              input(type="text" placeholder="Your Title").project__input
            .project__part
              textarea(placeholder="Your Comment").project__textarea
            button.project__button send message
