extends /layout/app

block content
  section.aboutus
    .container
      .aboutus__content
        h1.aboutus__title About Us
        p.aboutus__text
          | Divide have don't man wherein air fourth. Own itself make have night won't make.
          br
          | A you under Seed appear which good give. Own give air without fowl moveth dry first
          br
          | heaven fruit, dominion she'd won't very all.
        .aboutus__signature
          img(src="images/signature.png")



