extends /layout/app


block content
  sections.clients
    .container
      .clients__content
        .clients__img
          a(href="#").opacity__hover
            img(src="images/handmade.png")
        .clients__img
          a(href="#").opacity__hover
            img(src="images/mountain.png")
        .clients__img
          a(href="#").opacity__hover
            img(src="images/collection.png")
        .clients__img
          a(href="#").opacity__hover
            img(src="images/mountainbike.png")
        .clients__img
          a(href="#").opacity__hover
            img(src="images/handmade.png")

