block content

  .skills
    .skills__left
    .skills__right
    .skills__content
      .skills__wrapper
        .skills__inner
          h1.skills__title Professional Skills
          ul.skills__list
            li.skills__item
              .skills__subtitle UI/UX Design &nbsp&nbsp&nbsp75%
              .skills__line
                .skills__progress.skills__progress--design
            li.skills__item
              .skills__subtitle web development &nbsp&nbsp&nbsp90%
              .skills__line
                .skills__progress.skills__progress--development
            li.skills__item
              .skills__subtitle marketing &nbsp&nbsp&nbsp65%
              .skills__line
                .skills__progress.skills__progress--marketing



