block content
  .clients
    .container
      .clients__content
        a(href="#").clients__img.opacity
          img(src="images/handmade.png")
        a(href="#").clients__img.opacity
          img(src="images/mountain.png")
        a(href="#").clients__img.opacity
          img(src="images/collection.png")
        a(href="#").clients__img.opacity
          img(src="images/mountainbike.png")
        a(href="#").clients__img.opacity
          img(src="images/handmade.png")

