extends /layout/app

block content
  .lending
    section.lending__banner
      include /banner/banner
    section.lending__aboutus
      include /aboutus/aboutus
    section.lending__skills
      include /skills/skills
    section.lending__numbers
      include /numbers/numbers
    section.lending__work
      include /work/work
    section.lending__process
      include /process/process
    section.lending__services
      include /services/services
    section.lending__slider
      include /slider/slider
    section.lending__clients
      include /clients/clients
    section.lending__need-project
      include /need-project/need-project
