block content
  .process#process
    .container
      .process__content
        h1.process__title Our Work Process
        p.process__text
          | Was years it seasons was there form he in in them together over that,
          br
          | third sixth gathered female creeping bearing behold years.
        .process__video
          video(width="100%" loop="loop")
            source(src="./images/vid.mp4" type='video/mp4')
          .process__play

