extends /layout/app

block content
  section.services
    .container
      .services__content
        .services__item
          .services__img
            img(src="images/diamond.png")
          .services__item-wrapper
            h5.services__title ui / ux design
            p.services__text Be set fourth land god darkness
              br
              | make it wherein own
        .services__item
          .services__img
            img(src="images/arc.png")
          .services__item-wrapper
            h5.services__title web development
            p.services__text A she'd them bring void moving
              br
              | third she'd kind fill
        .services__item
          .services__img
            img(src="images/phone.png")
          .services__item-wrapper
            h5.services__title app / mobile
            p.services__text Dominion man second spirit he,
              br
              | earth they're creeping
        .services__item
          .services__img
            img(src="images/joy.png")
          .services__item-wrapper
            h5.services__title game design
            p.services__text Morning his saying moveth it
              br
              | multiply appear life be
        .services__item
          .services__img
            img(src="images/plane.png")
          .services__item-wrapper
            h5.services__title SEO / marketing
            p.services__text Give won't after land fill creeping
              br
              | meat you, may
        .services__item
          .services__img
            img(src="images/star-dark.png")
          .services__item-wrapper
            h5.services__title photography
            p.services__text Creepeth one seas cattle grass
              br
              | give moving saw give
        .services__item
          .services__img
            img(src="images/magic-wand.png")
          .services__item-wrapper
            h5.services__title graphic design
            p.services__text Open, great whales air rule for,
              br
              | fourth life whales
        .services__item
          .services__img
            img(src="images/paint-buket.png")
          .services__item-wrapper
            h5.services__title illustrations
            p.services__text Whales likeness hath, man kind
              br
              | for them air two won't
