block content
  .num
    .container
      .num__content
        .num__item
          .num__img
            img(src="images/portfolio.png")
          .num__item-wrapper
            p.num__number 548
            p.num__text projects completed
        .num__item
          .num__img
            img(src="images/clock.png")
          .num__item-wrapper
            p.num__number 1465
            p.num__text WORKING HOURS
        .num__item
          .num__img
            img(src="images/star.png")
          .num__item-wrapper
            p.num__number 612
            p.num__text POSITIVE FEEDBACKS
        .num__item
          .num__img
            img(src="images/hart.png")
          .num__item-wrapper
            p.num__number 735
            p.num__text HAPPY CLIENTS

