block content
  .project
    .container
        .project__content
          h1.title Need a Project?
          .text
            | Let us know what you're looking for in an agency. We'll take a look and see
            br
            | if this could be the start of something beautiful.
          form.form
            .form__contact
              .form__part.form__part--inline
                input(type="text" placeholder="Your Name").form__input
              .form__part.form__part--inline
                input(type="email" placeholder="Your Email").form__input
            .form__part
              input(type="text" placeholder="Your Title").form__input
            .form__part
              textarea(placeholder="Your Comment").form__textarea
            button.button send message
