extends /layout/app

block content
  section.slider
      .swiper-container.slider__content
        // Additional required wrapper
        .swiper-wrapper.slider__wrapper
          // Slides
          .swiper-slide.slide
            .slide__content
              h3.slider__quote “ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                p.slider__author Michael Hopkins
          .swiper-slide.slide
            .slide__content
              h3.slider__quote “ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                p.slider__author Michael Hopkins
          .swiper-slide.slide
            .slide__content
              h3.slider__quote “ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                p.slider__author Michael Hopkins
          |         ...
        // If we need pagination
        .swiper-pagination.slider__pagination



