footer.footer
  .container
    .footer__content
      .footer__left
        .footer__inc
          p Piroll Design, Inc.
        .footer__copyright
          p © 2017 Piroll. All rights reserved.
          p Designed by robirurk.
      .footer__right
        .footer__contacts
          a.footer__email(href="mailto:hello@pirolltheme.com")
            |hello@pirolltheme.com
          a.footer__phone(href="tel:+44 987 065 908")
            |+44 987 065 908
        nav
          ul.footer__list
            li.footer__item
              a(href="#") Projects
            li.footer__item
              a(href="#") About
            li.footer__item
              a(href="#") Services
            li.footer__item
              a(href="#") Carreer
            li.footer__item
              a(href="#") News
            li.footer__item
              a(href="#") Events
            li.footer__item
              a(href="#") Contact
            li.footer__item
              a(href="#") Legals
        ul.footer__last-list
          li.footer__item
            a(href="#") Facebook
          li.footer__item
            a(href="#") Twitter
          li.footer__item
            a(href="#") Instagram
          li.footer__item
            a(href="#") Dribbble








