block content
  .banner
    .container
      .banner__content
        .banner__wrapper
          h1.banner__title We Design and Develop
          p.banner__text We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
          a(href="#").banner__button
            | CONTENT US
