block content
  .banner
    .container
      .banner__header
        a(href="/").banner__logo.opacity
          img(src="images/logo.png")
        nav.banner__nav
          ul.banner__list
            li.banner__item
              a(href="/") home
            li.banner__item
              a(href="about.html") about
            li.banner__item
              a(href="#work") work
            li.banner__item
              a(href="#process") process
            li.banner__item
              a(href="#services") services
            li.banner__item
              a(href="single.html") testimonials
            li.banner__item
              a(href="contact.html") contact
        .banner__menu
          span.banner__line.banner__line--top
          span.banner__line.banner__line--medium
          span.banner__line.banner__line--bottom
      .banner__content
        .banner__wrapper
          h1.banner__title We Design and Develop
          p.banner__text We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
          a(href="#" onclick="return false").button
            | CONTENT US
