.banner
  background-image: url("banner_bg.png")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  width: 100%
  height: 100%
  overflow: hidden

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    height: 100px

    +media($laptop_sm)
      padding: 0 10px

  &__logo
    z-index: 5
    line-height: 0

    +media($mobile_lg)
      line-height: inherit
      margin-left: 20px

  &__nav

    +media($mobile_lg)
      position: fixed
      top: 0
      left: 0
      display: block
      z-index: 2
      width: 100%
      height: 100%
      transform: translateX(100%)
      background: rgba(237,237,237,1)
      background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%)
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(50%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(63%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)))
      background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%)
      background: -o-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%)
      background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%)
      background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 )

  &__list
    display: flex
    justify-content: space-between

    +media($mobile_lg)
      flex-direction: column
      align-items: center
      justify-content: normal
      padding-top: 100px

  &__item
    margin-right: 29px
    transition: color 0.3s

    +media($mobile_lg)
      margin-right: 0
      margin-bottom: 20px

    a
      font-size: 12px
      font-weight: $font_bold
      letter-spacing: 1px
      text-transform: uppercase

      +media($mobile_lg)
        font-size: 20px

    &:last-child
      margin: 0

    &:hover,
    &:focus
      color: #10c9c3

  &__menu
    display: none

    +media($mobile_lg)
      display: inline-block
      width: 35px
      margin-right: 20px
      cursor: pointer
      z-index: 5

  &__line
    display: inline-block
    width: 100%
    height: 5px
    background-color: #333
    transition: 0.4s

  .change .banner__line--top
    transform: rotate(-45deg) translate(-9px, 6px)

  .change .banner__line--medium
    opacity: 0

  .change .banner__line--bottom
    transform: rotate(45deg) translate(-12px, -9px)

  &__content
    display: flex
    justify-content: flex-end

    +media($tablet)
      flex-direction: column
      justify-content: center
      align-items: center

  &__title
    margin-bottom: 24px
    font-size: 38px

    +media($mobile_lg)
      text-align: center
      font-size: 30px

  &__text
    width: 475px
    padding-left: 5px
    margin-bottom: 33px
    color: #787878
    font-family: $font-nunito
    font-size: 18px
    line-height: 28px
    text-align: left

    +media($tablet)
      padding-left: 0
      text-align: center

    +media($mobile_sm)
      width: 100%
      font-size: 14px

  &__wrapper
    padding: 129px 31px 200px 0

    +media($tablet)
      display: flex
      flex-direction: column
      align-items: center
      padding: 60px 5px 60px

  .button
    margin-left: 5px

    +media($mobile_lg)
      margin-left: 0

.menu-opened
  transform: translateX(0)

.menu-transition
  transition: transform 0.5s




