doctype html
head
  meta(charset='UTF-8')
  meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Piroll
  meta(name='keywords' content='')
  meta(name='description' content='')
  link(rel='shortcut icon' href="./images/favicon.png" type="image/png")
  link(rel='stylesheet' href='css/vendors.css?' + hash)
  link(rel='stylesheet' href='css/app.css?' + hash)
body
  .wrapper
    include header/index
    main.content
      block content
    include footer/index
  script(src='js/vendors.js?' + hash)
  script(src='js/app.js?' + hash)
